<mat-toolbar color="primary">
  <button mat-icon-button (click)="myDrawer.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button *ngIf="authService.isAuthenticated">
    {{authService.username}}
  </button>
  <span style="flex: auto"></span>
  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Profile</button>
  <button *ngIf="authService.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu1">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu1>
    <button mat-menu-item  routerLink="/admin/loadStudents" >Load Students</button>
    <button mat-menu-item routerLink="/admin/loadPayment">Load Payments</button>
  </mat-menu>

  <button mat-raised-button color="accent" (click)="logout()" >
    Logout
  </button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start">
    <mat-list>
      <button mat-button routerLink="/admin/dashboard">
        <mat-icon>home</mat-icon>
        Dashboard
      </button>
    </mat-list>
    <mat-list>

      <button mat-button routerLink="/admin/students">
        <mat-icon>supervised_user_circle</mat-icon>
        Students
      </button>
    </mat-list>
    <mat-list>

      <button mat-button routerLink="/admin/payment">
        <mat-icon>payment</mat-icon>
        Payment
      </button>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 700px">
      <router-outlet>



      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
